#chat-screen {
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  z-index: 1;
  top: 0px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.message__author {
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.message__buble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  margin-right: 5px;
  border-top-left-radius: 0px;
  font-size: 18px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.8;
  font-size: 12px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__buble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 10px 7px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply input:focus {
  outline: none;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -10px;
  top: 4px;
}

.reply__column:last-child > i {
  right: 25px;
  top: 12px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

@keyframes bubleAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row {
  opacity: 0;
  animation: bubleAnimation 0.1s ease-in-out forwards;
}

.message-row:nth-child(2) {
  transform: translateX(-20px);
  animation-delay: 0.2s;
}
.message-row:nth-child(3) {
  transform: translateX(20px);
  animation-delay: 0.8s;
}
.message-row:last-child {
  transform: translateX(-20px);
  animation-delay: 1.5s;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-laugh,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 94vw;
  transform: translate(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
