.user-component {
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 28px;
  margin-right: 20px;
}

.user-component__name {
  display: flex;
  flex-direction: column;
}

.user-component__title {
  display: flex;
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 23px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column-number {
  color: rgba(0, 0, 0, 0.5);
}

.user-component__time {
  display: block;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.user-component__time-2 {
  display: block;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__meicon {
  background-color: rgba(0, 0, 0, 0.8);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
